@import '../AdminSalas/style.css';

.file-upload-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-file-upload {
  border: 1px dashed var(--text-secondary);
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--text-primary);
  font-family: var(--font-text);
  font-size: 0.9rem;
  transition: all 0.3s;
  flex-grow: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-file-upload:hover {
  border-color: var(--neon-cyan);
  color: var(--neon-cyan);
}

.clear-file-btn {
  background: transparent;
  border: none;
  color: #FF5555;
  cursor: pointer;
  font-size: 1.2rem;
}